<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".gz" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
            <mimeMap fileExtension=".gz" mimeType="application/gzip" />
            <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
